
<div class="container site-wrapper">
  <div class="site-wrapper-inner">
    <div class="row">
      <div class="col-xs-12">
        <%= main_header(outcome,bet) %>

        <%= show_dealer_hand(dealer_hand,gameover) %>

        <h3>Player's hands</h3>
        <%= player_hand %>

      </div class="col-xs-12">
    </div>
    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <form action="blackjack/hit" method="post">
          <%= input('input', 'bet', class: 'form-control') unless bet %>
          <%= button('Hit', type: 'submit', class: 'btn-secondary') unless gameover %>
        </form>

        <form action="blackjack/stay" method="get">
          <%= button('Stay', type: 'submit', class: 'btn-secondary') unless gameover %>
        </form>
      </div>
    </div>
</div>