<%= main_header(outcome,bet) %>

<h3>Dealer's hands</h3> 
<%= gameover ? dealer_hand : dealer_hand[0] %>

<h3>Player's hands</h3>
<%= player_hand %>

<form action="blackjack/hit" method="post">
  <%= input('bet') unless bet %>
  <%= button('Hit', type: 'submit') unless gameover %>
</form>

<form action="blackjack/stay" method="get">
  <%= button('Stay', type: 'submit') unless gameover %>
</form>